In [9]:
#Pt- Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números
#En- Exercice 1 - Print out the numbers from 1 to 10 on the screen. Use a list to store the numbers

list1=[1,2,3,4,5,6,7,8,9,10]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
#Pt- Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
#En- Exercise 2 - Create a list of 5 objects and print on the screen

list2=['diapers', 'toys', 'milk', 'fruits', 'vegetables' ]
print(list2)

['diapers', 'toys', 'milk', 'fruits', 'vegetables']

In [11]:
#Pt- Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
#En- Exercise 3 - Create two strings and concatenate them into a third string

a='Maria Clara'
b=' is super smart!'
Baby=a+b
Baby

'Maria Clara is super smart!'

In [12]:
#Pt- Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

tupla1=(1, 2, 2, 3, 4, 4, 4, 5)
tupla1.count(4)

3

In [13]:
#Pt- Exercício 5 - Crie um dicionário vazio e imprima na tela
#En- Exercise 5 - Create an empty dictionary and print it on the screen

dic1={}
print(dic1)

{}

In [14]:
#Pt- Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
#En- Exercise 6 - Create a dictionary with 3 keys and 3 values and print it on the screen

dic2={'Maria': 152, 'Anna': 21, 'Marcos':11}
print(dic2)

{'Maria': 152, 'Anna': 21, 'Marcos': 11}

In [15]:
#Pt- Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
#En- Exercise 7 - Add one more element to the dictionary created in the previous exercise and print on the screen

dic2['Ze']=171
print(dic2)

{'Maria': 152, 'Anna': 21, 'Marcos': 11, 'Ze': 171}

In [16]:
#Pt- Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
#Imprima o dicionário na tela
#En- Create a dictionary with 3 keys and 3 values. One of the values should be a list of 2 numeric elements. 
#Print the dictionary on the screen

dic3={'Internet': 'Vodafone', 'TV': 'Netflix', 'Mercado':[200, 400]}
print(dic3)

{'Internet': 'Vodafone', 'TV': 'Netflix', 'Mercado': [200, 400]}

In [17]:
#Pt- Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.
#En- Exercise 9 - Create a list of 4 elements. The first element must be a string, 
# the second a tuple of 2 elements, the third a dictionary with 2 keys and 2 values and 
# the fourth element a value of type float.
# Print the list on the screen.
list3=['Germany',(8,13), {'Data':'Science','Machine':'Learning' }, 1.2]
print(list3)

['Germany', (8, 13), {'Data': 'Science', 'Machine': 'Learning'}, 1.2]

In [19]:
#Pt- Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
#En- Exercise 10 - Consider the string below. Print on the screen only the characters from position 1 to 18
sentence = 'Data Scientist is the sexiest professional of the 21st century'

frase[0:18]

'Cientista de Dados'